# Logs
*.log

# IDEs
.idea/
.vscode/
*.iml

# Archivos grandes
archivos_grandes/
backups/
datasets/

# Videos
*.mp4
*.mov
*.avi

# Imágenes pesadas
*.iso

# Zip
*.zip
*.rar
*.7z

# PDFs grandes
*.pdf


/flask_session/
/static/assets/videos/
/static/assets/archivos/
/PLN/es_core_news_lg-3.8.0-py3-none-any.whl
