<!DOCTYPE html>
<html data-bs-theme="light" lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>BS_IPTIDI</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css?h=a549af2a81cd9900ee897d8bc9c4b5e9">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cambay:400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cantarell:700&amp;subset=latin-ext&amp;display=swap">
    <link rel="stylesheet" href="../static/assets/css/Login-Form-Basic-icons.css?h=cb6bfa29dd54a2e3807e6c7db8cc8f5a">
    <link rel="stylesheet" href="../static/assets/css/styles.css?h=b962d8285278184d96eacc46fec7a94a">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-tidi">
        <div class="container-fluid">
            <div class="container text-center" style="margin-top: 10px;margin-bottom: 10px;">
                <div class="row">
                    <div class="col-md-4 col-xxl-3 offset-xxl-0 align-self-center" style="/*margin: 50;*/"><img class="img-fluid" src="../static/assets/img/Imagotipo%20final%20plataforma%20tidi%20ia%20blanco-04%201%20(1).svg?h=78a72385a8e25eacb95720a1e9534356"></div>
                    <div class="col"></div>
                    <div class="col-md-4 col-xxl-1 align-self-center"><img class="img-fluid" src="../static/assets/img/Escudo%20unam%20blanco%201.svg?h=9cd4c3d52556f121c3d3a973dfdf065c"></div>
                    <div class="col-md-4 col-xxl-2 align-self-center"><img class="img-fluid" width="118" height="94" src="../static/assets/img/tidi%20blanco-02%201.svg?h=1c8547b45cf23c8a84f16af5e598e616"></div>
                </div>
            </div>
        </div>
    </nav>
    <section class="position-relative py-4 py-xl-5">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4 col-xxl-5">
                    <div class="card mb-0" style="border-radius: 50px;">
                        <div class="card-body flex-column align-items-center">
                            <header style="margin-top: 23px;margin-bottom: 23px;">
                                <h1 class="text-center" style="font-family: cantarell;font-size: 25px;color: #003366;font-weight: bold;">Acceso </h1>
                            </header>
                            <form class="text-center" method="POST" action="/login" style="margin-right: 30px;margin-left: 30px;margin-bottom: 50px;">
                                <div class="mb-5">
                                    <h6 class="text-start" style="font-size: 15px;font-family: 'Cantarell';font-weight: bold;color: #003366;">Nombre o número del usuario </h6>
                                    <input class="form-control" type="text" id="sUsuario" name="sUsuario" placeholder="Escribe aquí tu usuario" required="" style="font-family: 'Cantarell';">
                                </div>
                                <div class="mb-5">
                                    <h6 class="text-start" style="font-size: 15px;font-family: 'Cantarell';font-weight: bold;color: #003366;">Contraseña</h6>
                                    <input class="form-control" type="password" id="vcContrasenia" name="vcContrasenia" placeholder="Escribe aquí tu contraseña" required="" style="font-family: 'Cantarell';">
                                </div>
                                <div class="mb-1"><button class="btn btn-primary d-block w-100 btn-login btn-amarillo" id="btn-login" type="submit">Iniciar sesión</button></div>
{#                                <div class="mb-1"><button class="btn btn-primary d-block w-100 btn-login btn-azul" id="btn-login" onclick="crearModalUsuario()" type="button">Registrarse</button></div>#}
{#                                <p class="text-start text-muted" style="color: #003366;font-size: 12px;font-family: 'Cantarell';">Olvidaste tu contraseña?</p>#}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="../static/assets/js/jquery.min.js?h=6bcc3684f18aa21874fa709f122723cf"></script>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js?h=374d178d651fa0eaf680a1fa7b40c788"></script>
    <script src="../static/assets/js/asignaturas.js?h=8aeeb8bf7333ec17ad6a4734aa2e949a"></script>
{#    <script src="../static/assets/js/crud-contenidos.js?h=311c0b07c7c85b9ddd946b7ded6a1bff"></script>#}
    <script src="../static/assets/js/login.js?h=8b5d69aa014e93ea1e4a2cb62d4d07ff"></script>
    <script src="../static/assets/js/omni.js?h=457204e222950430a6340870dd601a30"></script>
    {#    <script src="../static/assets/js/tema.js?h=263fb8e73e0ca9881cbf2e7cfa173e37"></script>#}
    <script src="../static/assets/js/temas.js?h=81d10140ceb8b3cd4cd46c69b7154d08"></script>
</body>

</html>